{% extends 'base.html.twig' %}
{% block body %}
    <div class="text-center">
        <h3>CHATBOT CHALLENGE</h3>
        <div class="jumbotron text-center">
            <chatbot></chatbot>
        </div>
    </div>
{% endblock %}
